@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600&display=swap');

/* Tailwind directives ควรอยู่ด้านบน */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS อื่นๆ ของคุณ */
input:focus,
select:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media (prefers-color-scheme: dark) {
    :root {
      color-scheme: light;
    }
}